body {
  background-image: url("resources/images/pexels-pixabay-276452.jpg");
  background-size: cover;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-weight: bold;
}
p,
li {
  line-height: 1.5;
  font-size: 1.2em;
}

.resumebg {
  background-color: azure;
  border: 2px red solid;
  width: 150vh;
  height: auto;
  display: flex;
}

.img {
  background-image: url("resources/images/resume.png");
  height: 30vh;
  width: 30vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.imgbg {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.name {
  align-self: center;
  font-weight: 700;
}

.container1 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 640px) {
  .resumebg {
    display: inline;
  }
  p,
  li {
    font-size: 1.7em;
  }
  .h1.obj,
  .sa,
  .vit,
  .exp,
  .edu,
  .int,
  .ldr,
  .ref {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
